<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
	<title></title>
</head>
<body>
<!--   <style>


body {
  background-color: black;
  color: lightgreen;
  font-family: monospace;
  /*background-image: url('https://c1.wallpaperflare.com/preview/427/745/192/notebook-natural-laptop-macbook.jpg');*/
/*  background: lightblue url("img_tree.gif") no-repeat fixed center;*/

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin-top: 0px;
  margin-left: 10px;
  margin-right: 50px;

}
</style> -->

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

{% if not user.is_authenticated %}

<div class="text-center">
  <h1 class="text-light text-center bg-primary"><strong><i>REGISTER</i> or <i>LOGIN</i></strong>
    <br>
</div>

<br>
<div class="text-center">
      	<a class="btn btn-outline-primary " href="{% url 'register' %}"> Register </a> 
      	<a class="btn btn-outline-primary " href="{% url 'login' %}"> Login </a> 


{% endif %}

<!-- ------------------------------------------------------------------------------------------------------------------------ -->

{% if user.is_authenticated %}
  
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-primary p-4">
<!--       <h4 class="text-white"> Options </h4><br> -->
      <span class="text-muted">
        <a class="btn btn-outline-light" href="{% url 'register' %}"> Add Another Account </a> 
        <a class="btn btn-outline-light" href="{% url 'logout' %}"> Log Out </a>

      </span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">User 
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>

{% endif %}

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<ul>
  {% block body %}
  {% endblock %}
</ul>

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<footer class="page-footer font-small blue">

<div class="footer-copyright text-center py-3">© 2020 Copyright:
	<a href="https://www.facebook.com/deki90to"> Dejan Jovanovic </a>
</div>

</footer>

<!-- ---------------------------------------------------------------------------------------------------------------------------- -->

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>