{% extends 'base.html' %}


{% block body %}
<br>
<h1>Add Comment</h1>

<div class="form-group">
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	{{ form.media }}
    {{ form.as_p }}
	<br>
	<a href="{% url 'home' %}" class='btn btn-outline-primary btn-sm'> Cancel </a>
    <button class='btn btn-outline-primary btn-sm'> Comment </button>
</form>
</div>

<script>
	var name = '{{ user.name }} {{ user.post }}';
	document.getElementById('admin').value = name;
</script>

{% endblock %}