{% extends 'base.html' %}


{% block body %}
{% if user.is_authenticated %}
<br>
<h1>Add Comment</h1>

<div class="form-group">
<form method="POST">
	{% csrf_token %}
	{{ form.media }}
    {{ form.as_p }}
	<br>
	<a href="{% url 'home' %}" class='btn btn-outline-primary btn-sm'> Cancel </a>
    <button class='btn btn-outline-primary btn-sm'> Comment </button>
</form>
</div>

{#<script>#}
{#	var name = '{{ user.id }}';#}
{#	document.getElementById('admin').value = name;#}
{#</script>#}
{% else %}
	<a href="{% url 'register' %}"> Register </a> or <a href="{% url 'login' %}"> Login </a> to see the content.
{% endif %}
{% endblock %}