{% extends 'base.html' %}


{% block body %}
{% if user.is_authenticated %}
    <br>
}
<ul>
<h3> Confirm Deleting </h3>
<br>
    <div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <ul>
        <li>
            <b>{{ post.author }}</b>
        </li>
                {{ post.body|safe }}

                {% if post.image %}
                    <br>
                    <img src="{{ post.image.url }}">
                {% endif %}

                {% if post.video %}
                    <br>
                    <video width='480' height= '320' id="intro" type="video/mp4" controls preload>
                    <source src="{{ post.video.url }}" type="video/mp4">
                    </video>
                {% endif %}
            <br>
            <br>
                <a href="{% url 'home' %}" class='btn btn-outline-primary btn-sm'> Cancel </a>
        <button class="btn btn-outline-danger btn-sm"> Delete </button>
        </ul>
    </form>
    </div>
</ul>
{% else %}
    <a href="{% url 'register' %}"> Register </a> or <a href="{% url 'login' %}"> Login </a> to see the content.
{% endif %}

{% endblock %}