{% extends 'base.html' %}

{% block body %}
{% if user.is_authenticated %}

{% if post %}
<br>
<br>
<ul>
<li><b>{{ post.author }}</b></li>
    {{ post.body|safe }}



{% if post.image %}
    <br>
    <img src="{{ post.image.url }}">
{% endif %}



    {% if post.video %}
        <br>
        <video width='480' height= '320' id="intro" type="video/mp4" controls preload>
        <source src="{{ post.video.url }}" type="video/mp4">
        </video>



    {% endif %}
    <br>
    <br>
    <a href="{% url 'home' %}" class='btn btn-outline-primary btn-sm'> Back </a>

    {% if request.user == post.author %}
        <a href="{% url 'update' post.pk %}" class='btn btn-outline-primary btn-sm'> Edit </a>
        <a href="{% url 'delete' post.pk %}" class='btn btn-outline-danger btn-sm'> Delete </a>
    {% endif %}
<br>
<br>
    <br>

    <h3> <a href="{% url 'add_comment' post.pk %}"> Add new comment </a> </h3>
    <hr>
<h5> Comments </h5>
    <br>

    {% if not post.comments.all %}
        No Comments
    {% else %}
        {% for comment in post.comments.all %}
            <b>{{ comment.name }}, {{ comment.date }}</b>
            <br>
            {{ comment.body }}
            <hr>
        {% endfor %}
    {% endif %}

</ul>
    {% endif %}
{% else %}
    <a href="{% url 'register' %}"> Register </a> or <a href="{% url 'login' %}"> Login </a> to see the content.
{% endif %}
{% endblock %}
