{% extends 'base.html' %}

{% block body %}

{% if user.is_authenticated %}
<ul>
<br>
    <h1><a class="btn btn-outline-primary" href="{% url 'add' %}">Add Post</a></h1>
<br>

{% for post in object_list %}
    <ul>
    <li><b>{{ post.author }}</b> <small><h6>{{ post.date }}</small></h6></li>
            <small><b>{{ post.body|slice:"200"|safe }}...</b></small>

        {% if post.image %}
            <br>
            <img src="{{ post.image.url }}">
        {% endif %}
    
        {% if post.video %}
            <br>
            <video width='480' height= '320' id="intro" type="video/mp4" controls preload>
	        <source src="{{ post.video.url }}" type="video/mp4">
            </video>
        {% endif %}

        <br>
        <small>
           > <a href="{% url 'details' post.pk %}"> Details </a>

        {% if request.user == post.author %}
            - <a href="{% url 'update' post.pk %}"> Edit Post </a> -
            <a href="{% url 'delete' post.pk %}"> Delete Post </a> 
        {% endif %}
        </small>
    </ul>
    <br>
        

{% endfor %}
</ul>

{% endif %}

{% endblock %}